// Colors
$black: #000000;
$white: #ffffff;
$orange_light: #ff9c25;
$orange_dark: #ff7333;
$gray_light: #ebedec;
$gray_dark: #979c9d;
$blue_light: #13ccf3;
$blue_dark: #2a90ff;
// Fonts
$font_light_sans: "IRANSans_light";
$font_normal_sans: "IRANSans_normal";
$font_ultralight_sans: "IRANSans_ultralight";
$font_bold_sans: "IRANSans_bold";
$font_medium_sans: "IRANSans_medium";