*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    direction: rtl;
    font-family: $font_light_sans;
    background-color: $gray_light;
}

input, div {
    font-family: $font_light_sans;
}

.react-input-emoji--input{
    text-align: right !important;
    font-family: $font_light_sans;
    }