.auth {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @media only screen and (max-width: 768px) {
        flex-direction: column-reverse;
    }
    &__right {
        display: flex;
        flex-direction: column;
        background-color: $white;
        border-radius: 1rem ;
        width: 30rem;
        padding: 1rem;
        box-shadow: 1px 2px 17px 0px rgba(222,222,222,0.75);
        @media only screen and (max-width: 576px) {
            margin: 2rem 0;
        }
        &-h3 {
            color: $black;
            font-size: 2rem;
            text-align: center;
        }
    }
    &__inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: all 0.5s ease;
    }
    
    &__submits {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;
    }
    &__notaccount {
        color: $blue_dark;
        text-decoration: underline;
        cursor: pointer;
    }

    &__left {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 0 8rem;
        @media only screen and (max-width: 576px) {
            .auth__twetter {
                visibility: hidden;
                display: none;
            }
        }
        
    }
    &__brands {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &-brand {
            font-size: 4rem;
            font-weight: bold;
            background: linear-gradient($orange_dark, $orange_light);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-slogan {
            font-size: 2rem;
        }

        @media only screen and (max-width: 992px) {
            .auth__brands-brand {
                font-size: 2.5rem;
            }
            .auth__brands-slogan {
                font-size: 1.5rem;
            }
        }
        @media only screen and (max-width: 768px) {
            .auth__brands-brand {
                font-size: 2rem;
            }
            .auth__brands-slogan {
                font-size: 1.2rem;
            }
        }
        @media only screen and (max-width: 576px) {
            .auth__brands-brand {
                font-size: 1.5rem;
            }
            .auth__brands-slogan {
                font-size: 0.7rem;
            }
        }
    }


}