*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  direction: rtl;
  font-family: "IRANSans_light";
  background-color: #ebedec;
}

.input {
  margin: 1rem 0;
  padding: 1rem 2rem;
  border: none;
  background-color: #ebedec;
  border-radius: 0.5rem;
  font-family: "IRANSans_light";
  outline: 0;
  font-size: 1.2rem;
}

.button {
  padding: 0.5rem 2rem;
  font-family: "IRANSans_light";
  outline: 0;
  border: 1px solid #ff7333;
  border-radius: 0.5rem;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s ease-in;
  background: linear-gradient(#ff7333, #ff9c25);
}
.button:hover {
  background: #ffffff;
  border: 1px solid #ff7333;
  color: #000000;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 968px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.auth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .auth {
    flex-direction: column-reverse;
  }
}
.auth__right {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
  width: 30rem;
  padding: 1rem;
  box-shadow: 1px 2px 17px 0px rgba(222, 222, 222, 0.75);
}
@media only screen and (max-width: 576px) {
  .auth__right {
    margin: 2rem 0;
  }
}
.auth__right-h3 {
  color: #000000;
  font-size: 2rem;
  text-align: center;
}
.auth__inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: all 0.5s ease;
}
.auth__submits {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.auth__notaccount {
  color: #2a90ff;
  text-decoration: underline;
  cursor: pointer;
}
.auth__left {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 0 8rem;
}
@media only screen and (max-width: 576px) {
  .auth__left .auth__twetter {
    visibility: hidden;
    display: none;
  }
}
.auth__brands {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.auth__brands-brand {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(#ff7333, #ff9c25);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.auth__brands-slogan {
  font-size: 2rem;
}
@media only screen and (max-width: 992px) {
  .auth__brands .auth__brands-brand {
    font-size: 2.5rem;
  }
  .auth__brands .auth__brands-slogan {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .auth__brands .auth__brands-brand {
    font-size: 2rem;
  }
  .auth__brands .auth__brands-slogan {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 576px) {
  .auth__brands .auth__brands-brand {
    font-size: 1.5rem;
  }
  .auth__brands .auth__brands-slogan {
    font-size: 0.7rem;
  }
}

@font-face {
  font-family: IRANSans_light;
  src: url("../assets/fonts/ttf/IRANSansWeb(FaNum)_Light.ttf");
  font-style: normal;
}
@font-face {
  font-family: IRANSans_bold;
  src: url("../assets/fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf");
  font-style: normal;
}
@font-face {
  font-family: IRANSans_medium;
  src: url("../assets/fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf");
  font-style: normal;
}
@font-face {
  font-family: IRANSans_normal;
  src: url("../assets/fonts/ttf/IRANSansWeb(FaNum).ttf");
  font-style: normal;
}
@font-face {
  font-family: IRANSans_ultralight;
  src: url("../assets/fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf");
  font-style: normal;
}/*# sourceMappingURL=main.css.map */